.displayAll-container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.title {
    text-align: center;
}

.output-section hr {
    margin-top: 10px;
}

.output-section button {
    padding: 5px;
    font-size: 14px;
}