.sort-filter-search-container {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-bottom: 10px;

}

.option-container {
    padding: 5px 10px;
}

.pagiantion {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.sorting-container select {
    padding: 5px;
    font-size: 14px;
    margin-right: 20px;
}

.displayAll-container {
    margin-left: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;

}

.displayAll-container>* {
    flex: 1 0 48%;
    box-sizing: border-box;
}

.data-item {
    min-height: 66vh;
}

.title {
    margin-bottom: 30px;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    text-decoration-color: red;
    word-spacing: 5px;
    letter-spacing: 2px;
    text-underline-offset: 5px;
}

.output-section hr {
    margin-top: 10px;
}

.output-section button {
    padding: 5px;
    font-size: 14px;
}

.avatar-section .avatar-image {
    height: 50px;
    width: 50px;
    border-radius: 8px;
    object-fit: cover;
}