.form-container {
    display: flex;
    flex-direction: column;
}

.form {
    max-width: 400px;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 8px;
}

.form-row,
.form-row-avatar {
    margin-bottom: 15px;
}

.form-row label {
    display: block;
    margin-bottom: 5px;
}

.form-row input,
.form-row select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-row-avatar input {
    width: 100%;
    padding: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.error-message {
    color: red;
    font-size: 0.85rem;
}

.btn-submit {
    display: block;
    width: 100%;
    padding: 10px;
    background: green;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.avatar-file-name span {
    cursor: pointer;
    border: 1px solid #ccc;
    padding: 5px 1px;
    margin-left: 3px;
}