.output-container {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
}


.search-row {
    display: flex;
    align-items: center;
    gap: 10px;
    /* Space between elements */
}

.search-input {
    width: 60px;
    /* Approx 4 digits (adjust as needed) */
    padding: 5px;
    font-size: 16px;
    text-align: center;
    /* Aligns text to the center */
}

button {
    padding: 8px 16px;
    font-size: 16px;
}